<ion-view view-title="Marine Survey">

  <ion-content>
    <div class="card {{class1}}">
      <div class="row">
        <div class="col col-10 marin-text">
          <p>Q:</p>
        </div>
        <div class="col col-90 marin-text">
          <p>{{questionObj.question}}</p>
        </div>
      </div>
      <div class="marin-text">
        <div class="row">
          <div class="col">
            <p>Anwser:</p>
          </div>
        </div>
        <div class="row" ng-if="isText == false && multiOption == false && isNumeric == false && questionObj.questionNumber != 29">
          <div class="col">
            <div class="radio">
              <ion-radio ng-model="questionObj.answer" ng-checked="answer1" ng-click="saveAnswer(questionObj.question,'Yes')" ng-value="'Yes'">Yes</ion-radio>
            </div>
            <div class="radio">
              <ion-radio ng-model="questionObj.answer" ng-checked="answer1" ng-click="saveAnswer(questionObj.question,'No')" ng-value="'No'">No</ion-radio>
            </div>
          </div>
        </div>
        <div class="row" ng-if="isText == false && multiOption == true">
          <div class="col">
            <div class="radio" ng-repeat="item in multiArray">
              <ion-radio ng-model="questionObj.answer" ng-checked="answer1" ng-click="saveAnswer(questionObj.question,item)" ng-value="item">{{item}}</ion-radio>
            </div>
          </div>
        </div>
        <div class="row" ng-if="isText == false && multiOption == false && isNumeric == true">
          <div class="col" ng-if="questionObj.questionNumber != 32 && questionObj.questionNumber != 41">
            <div ng-repeat="item in numericInputArray track by $index">
              <div class="list list-inset numerical-input-div">
                <label class="item item-input">
                  <span class="input-label numeric-label">{{item}}</span>
                  <input class="numeric-input" ng-if="item != 'Short'" ng-model="numericValue[$index]" ng-change="calculateShort(numericValue[$index],$index)"
                    type="number">
                  <input class="numeric-input readOnly-input" ng-readonly="true" ng-model="short" ng-if="item == 'Short'" type="number">
                </label>
              </div>
              <!--<ion-radio ng-model="questionObj.answer" ng-checked="answer1" ng-click="saveAnswer(questionObj.question,item)" ng-value="item">{{item}}</ion-radio>-->
            </div>
          </div>
          <div class="col" ng-if="questionObj.questionNumber == 32 || questionObj.questionNumber == 41">
            <div class="list list-inset numerical-input-div">
              <label class="item item-input">
                <span class="input-label numeric-label">Numbers Only</span>
                <input class="numeric-input" ng-if="item != 'Short'" ng-model="numericValue[$index]" ng-change="calculateShort(numericValue[$index],$index)"
                  type="number">
                <input class="numeric-input readOnly-input" ng-readonly="true" ng-model="short" ng-if="item == 'Short'" type="number">
              </label>
            </div>
          </div>
        </div>
        <div class="row" ng-if="isText == true">
          <div class="col">
            <textarea class="text-area-css" ng-model="questionObj.answer" rows="15" placeholder="Description"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button class="button button-positive marine-btn-width" ng-click="saveAnswer(questionObj.question,questionObj.answer)" ng-if="(isText== true || isNumeric == true || questionObj.questionNumber == 29) && isSubmit == false">Next</button>
        <br>
        <button class="button button-positive marine-btn-width " ng-click="back()">Back</button>
        <br>
        <button class="button button-positive marine-btn-width " ng-if="isSubmit == true" ng-click="submit()">Submit</button>
      </div>
    </div>
  </ion-content>
</ion-view>
