<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content id="myHeader">
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="getprofile();">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button id="right-btn" class="button button-icon button-clear search-btn ion-loop padings disBlock right-btn" ng-click="doRefresh();">
      </button>


      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view class="disBlock" name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <!-- <ion-header-bar class="bar-positive">
      <h1 class="title">Menu</h1>
    </ion-header-bar> -->
    <ion-content>
      <ion-list style="border-top: 20px solid #263b97;">
        <ion-item class="item-avatar " menu-close>
          <img src="img/photo.png" ng-if="!profile.photo">
          <img ng-src="{{profile.photo|uploadpath}}" ng-if="profile.photo">
          <h2 ng-if="profile.name">{{profile.name}}</h2>
          <p ng-if="profile.grade.name">{{profile.grade.name}}</p>
        </ion-item>
        <ion-item class="item-icon-left" menu-close ui-sref="app.task">
          <i class="icon ion-clipboard"></i> Tasks
        </ion-item>
        <ion-item class="item-icon-left" menu-close ui-sref="app.history">
          <i class="icon ion-clipboard"></i> History
        </ion-item>
        <!-- <ion-item class="item-icon-left" menu-close ui-sref="app.survey">
          <i class="icon ion-compose"></i>
          Survey
        </ion-item> -->
        <ion-item class="item-icon-left" menu-close ng-click="logout();">
          <i class="icon ion-log-out"></i> Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>