<ion-view view-title="Photos / Documents">
  <ion-content>

    <!-- <div class="row" ng-if="imageSrc">
      <div class="col col-25">
        <img ng-src="{{imageSrc}}" class="full-image">
      </div>
    </div>


    <div class="text-center padding">
      <p ng-if="!imageSrc">No Photos / Documents Uploaded</p>
      <button class="button button-positive" ng-click="openCamera()">Open Camera</button>
      <button class="button button-positive" ng-click="openLibrary()">Open Photo Library</button>
    </div> -->
    <form class="" method="post">
      <div class="add-button">
        <button class="button icon ion-plus-round" ng-click="showActionsheet('photos')"></button>

    </div>

      <div class=" photos list card">
    <div class="item card-upload ">
      <h3>Photos</h3>

    </div>
    <div class="item item-image">
      <div class="row" ng-repeat="pic in photos">
        <div class="img-upload col-20" ng-click="showConfirm(data)" ng-repeat="data in pic">
          <img ng-src="{{data|uploadpath}}" ng-if="data">
        </div>

      </div>
        </div>
  </div>
  <div class="add-button">
    <button class="button icon ion-plus-round" ng-click="showActionsheet('Document')"></button>

</div>
  <div class="list card photos">
  <div class="item  card-upload">
    <h3>Document</h3>
  </div>
  <div class="item item-image">
      <div class="row" ng-repeat="pic in doc">
        <div class="img-upload col-20" ng-click="showConfirm(data)" ng-repeat="data in pic">
          <img ng-src="{{data|uploadpath}}" ng-if="data">
        </div>

      </div>
      </div>
</div>
<div class="add-button">
  <button class="button icon ion-plus-round" ng-click="showActionsheet('JIR')"></button>

</div>
<div class=" list card photos">
<div class="item card-upload ">
  <h3>JIR</h3>
</div>
<div class="item item-image">
  <p ng-if="!photos">no documents</p>
  <div class="row" ng-repeat="pic in jir">
    <div class="img-upload col-20" ng-click="showConfirm(data)" ng-repeat="data in pic">
      <img ng-src="{{data|uploadpath}}" ng-if="data">
    </div>

  </div>

    </div>
</div>

<div class="list list-inset submit">
  <button class="button button-block button-positive "  ng-click="mobileSubmit()">Submit</button>
</div>
    </form>
  </ion-content>
</ion-view>
