<ion-view view-title="Photos / Documents">
  <ion-content>
    <form class="" method="post">
      <div class="add-button">
        <button class="button icon ion-plus-round" ng-click="showActionsheet('photos')"></button>

      </div>

      <div class=" photos list card">
        <div class="item card-upload ">
          <h3>Photos</h3>

        </div>
        <div class="item item-image">
          <div class="row" ng-repeat="pic in photosChunk">
            <div class=" col-33" ng-click="showConfirm(data,'photos')" ng-repeat="data in pic">
              <div class="img-upload">
                <img ng-src="{{data.name}}" ng-if="data">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="add-button">
        <button class="button icon ion-plus-round" ng-click="showActionsheet('Document')"></button>

      </div>
      <div class="list card photos">
        <div class="item  card-upload">
          <h3>Document</h3>
        </div>
        <div class="item item-image">
          <div class="row" ng-repeat="pic in docChunk">
            <div class="img-upload col-33" ng-click="showConfirm(data,'Document')" ng-repeat="data in pic">
              <div class="img-upload">
                <img ng-src="{{data.name}}" ng-if="data">
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="add-button">
        <button class="button icon ion-plus-round" ng-click="showActionsheet('JIR')"></button>

        <!--################## uncomment this line-->
        <!-- <button class="button icon ion-plus-round" ng-click="getMarineLogic()"></button> -->

      </div>
      <div class=" list card photos">
        <div class="item card-upload ">
          <h3>JIR</h3>
        </div>
        <div class="item item-image">
          <p ng-if="!photos">no documents</p>
          <div class="row" ng-repeat="pic in jirChunk">
            <div class="img-upload col-33" ng-click="showConfirm(data,'JIR')" ng-repeat="data in pic">
              <div class="img-upload">
                <img ng-src="{{data.name}}" ng-if="data">
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="list list-inset submit">
        <button class="button button-block button-positive " ng-click="openSurveyForm()">Submit</button>
      </div>
    </form>
  </ion-content>
</ion-view>
