<ion-view view-title="Browse">
  <ion-content>
    <h1></h1>

    <div class="card">
      <div class="item item-divider">
        <h3>LR/CN</h3>
      </div>
  <div class="item item-text-wrap">
    <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Carrier</span>
    <input type="text" placeholder="">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">LR/CN#</span>
    <input type="text" placeholder="">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">LR/CN Date</span>
    <input type="text" placeholder="">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Consignor</span>
    <input type="text" placeholder="">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Consignee</span>
    <input type="text" placeholder="">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Voyage from</span>
    <input type="text" placeholder="">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Voyage to</span>
    <input type="text" placeholder="">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">No. of packages as per LR/CN</span>
    <input type="text" placeholder="">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Original Vehicle #</span>
    <input type="text" placeholder="">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Delivery Vehicle #</span>
    <input type="text" placeholder="">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Transshipment Place</span>
    <input type="text" placeholder="">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Reason</span>
    <input type="text" placeholder="">
  </label>
  <ul class="list">

  <li class="item item-toggle">
     Is it full Truck Load Cargo?
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li class="item item-toggle">
     Overloading found? (Applicable for Accident only)
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li class="item item-toggle">
     Unloaded during survey?
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li class="item item-toggle">
     Is it containerised Cargo/ vehicle?
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li class="item item-toggle">
     Was it covered with tarpaulin?
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
   </li>
  </ul>
</div>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    <h3>PACKING</h3>
  </div>
  <div class="item item-text-wrap">
    <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Inner Packing</span>
      <input type="text" placeholder="">
    </label>

    <label class="item item-input item-stacked-label">
      <span class="input-label">Outer Packing</span>
      <input type="text" placeholder="">
    </label>

    <label class="item item-input item-stacked-label">
      <span class="input-label">Condition @ Delivery</span>
      <input type="text" placeholder="">
    </label>

    <label class="item item-input item-stacked-label">
      <span class="input-label">Condition @ Survey</span>
      <input type="text" placeholder="">
    </label>

    <ul class="list">

    <li class="item item-toggle">
       Shown?
       <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>

    <li class="item item-toggle">
       New/ Second Hand?
       <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>

    <li class="item item-toggle">
       Customary?
       <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>

    <li class="item item-toggle">
       Adequate?
       <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>

  </ul>

    </div>

</div>
</div>

<div class="card">
  <div class="item item-divider">
  <h3>DELIVERY</h3>
  </div>
  <div class="item item-text-wrap">
    <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Date of Delivery</span>
      <input type="text" placeholder="">
    </label>

    <label class="item item-input item-stacked-label">
      <span class="input-label">Delivery Address</span>
      <input type="text" placeholder="">
    </label>

    <label class="item item-input item-stacked-label">
      <span class="input-label">Knowledge of Loss</span>
      <input type="text" placeholder="">
    </label>

    <label class="item item-input item-stacked-label">
      <span class="input-label">Delivery Address</span>
      <input type="text" placeholder="">
    </label>

    <ul class="list">

    <li class="item item-toggle">
       Place other than LR?
       <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>

    <li class="item item-toggle">
       LR endorsed with loss?
       <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>

    </ul>
  </div>
</div>
</div>

<div class="card">
  <div class="item item-divider">
  <h3>SURVEY</h3>
  </div>
  <div class="item item-text-wrap">
    <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Date of Survey</span>
    <input type="text" placeholder="">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Survey start time</span>
    <input type="text" placeholder="">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Survey end time</span>
    <input type="text" placeholder="">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Person presnet during survey</span>
    <input type="text" placeholder="">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Survey address</span>
    <input type="text" placeholder="">
  </label>
</div>
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    <h3>CAUSE OF LOSS</h3>
  </div>
  <div class="item item-text-wrap">
    <div class="item item-text-wrap">
      <ion-list>

  <ion-checkbox ng-model="filter.red">Jerks/Jolts</ion-checkbox>
  <ion-checkbox ng-model="filter.yellow">Non Delivery</ion-checkbox>
  <ion-checkbox ng-model="filter.pink">Accident</ion-checkbox>
  <ion-checkbox ng-model="filter.red">Load/ Unload</ion-checkbox>
  <ion-checkbox ng-model="filter.yellow">Water Damage</ion-checkbox>
  <ion-checkbox ng-model="filter.pink">Theft/Shortage</ion-checkbox>
  <ion-checkbox ng-model="filter.pink">Transshipment</ion-checkbox>



   </ion-list>
      <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Other</span>
      <input type="text" placeholder="">
    </label>
  </div>
  </div>
</div>
</div>

<div class="card">
  <div class="item item-divider">
    <h3>DAMAGED PRODUCT CAN BE</h3>
  </div>
  <div class="item item-text-wrap">
    <div class="list">
    <li class="item item-toggle">
       Repaired?
       <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
     </li>

    <li class="item item-toggle">
       Reprocessed?
       <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>

    <li class="item item-toggle">
       Reconditioned?
       <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>

    <li class="item item-toggle">
       Canabalised
       <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>
  </ul>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Other</span>
    <input type="text" placeholder="">
  </label>

  </div>
</div>
</div>

<div class="card">
  <div class="item item-divider">
  <h3>SALVAGE</h3>
  </div>
  <div class="item item-text-wrap">
    <ion-list>

  <ion-checkbox ng-model="filter.red">Destroyed</ion-checkbox>
  <ion-checkbox ng-model="filter.yellow">To Destroyed</ion-checkbox>
  <ion-checkbox ng-model="filter.pink">Disposable</ion-checkbox>

</ion-list>

<label class="item item-input item-stacked-label">
  <span class="input-label">Salvage Offer</span>
  <input type="text" placeholder="">
</label>
  </div>
</div>
</div>

<div class="card">
  <div class="item item-divider">
    <h3>DOCUMENTS COLLECTED</h3>
  </div>
  <div class="item item-text-wrap">
    <div class="item item-text-wrap">
      <ion-list>

  <ion-checkbox ng-model="filter.red">Invoice (s)</ion-checkbox>
  <ion-checkbox ng-model="filter.yellow">Packing list</ion-checkbox>
  <ion-checkbox ng-model="filter.pink">LR/CN</ion-checkbox>
  <ion-checkbox ng-model="filter.red">FIR</ion-checkbox>
  <ion-checkbox ng-model="filter.yellow">Vehicle Dox</ion-checkbox>
  <ion-checkbox ng-model="filter.pink">Test Report</ion-checkbox>
  </ion-list>
      <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Other</span>
      <input type="text" placeholder="">
    </label>
  </div>
  </div>
</div>


  </ion-content>
</ion-view>
