<ion-view view-title="Task">

  <ion-content>
    <ion-refresher on-refresh="doRefresh()">

    </ion-refresher>
    <p class="text-center notask" ng-if="pagination.result.length == 0 && pagination.resultGroup">There is no task for you</p>
    <p class="text-center notask" ng-if="!pagination.resultGroup">Loading Data</p>
    <ion-list class="tasks" show-delete="false" can-swipe="true">
      <div class="" ng-repeat="(monthName,monthlyValues) in pagination.resultGroup">
        <div class="item item-divider">
          {{monthName}}
        </div>
        <div class="mutiple-task" ng-repeat="item in monthlyValues">
          <ion-item class="item-calendar" ng-if="!item.taskPendingStatus">
            <div class="item-content" ui-sref="app.photos-documents({assignId:item._id,surveyId:item.survey._id,department:item.department})">
              <div class="calendar">
                <div class="month">{{item.surveyDate| date:'MMM'}}</div>
                <div class="date">{{item.surveyDate| date:'dd'}}</div>
              </div>
              <div class="mr-no dis-in">{{item.name}}</div>
            </div>

            <ion-option-button class="button decline decline-bg-color" ng-click="declineTask(item.survey._id,item._id)">Decline</ion-option-button>
            <ion-option-button class="button decline" ng-click="getSurveyour(item)">Transfer Survey</ion-option-button>
            <div class="">
              <a class="button button-icon icon ion-ios-information info" ng-click="getInformation($index,parentIndex);"></a>
            </div>

          </ion-item>
          <ion-item class="item-calendar disabled-color" ng-if="item.taskPendingStatus && taskpending.length>0">
            <div class="" ng-click="showAlert('Task has been done. waiting for internet...');">
              <div class="calendar">
                <div class="month">{{item.surveyDate| date:'MMM'}}</div>
                <div class="date">{{item.surveyDate| date:'dd'}}</div>
              </div>
              <div class="mr-no dis-in">{{item.name}}</div>
              <i class="ion ion-ios-cloud-upload-outline cloud"></i>
            </div>

            <ion-option-button class="button decline decline-bg-color" ng-click="showPopup(item.survey._id,item._id)">Decline</ion-option-button>
            <ion-option-button class="button decline" ng-click="getSurveyour(item)">Transfer Survey</ion-option-button>
            <div class="">
              <a class="button button-icon icon ion-ios-information info" ng-click="information($index,parentIndex);"></a>
            </div>

          </ion-item>
        </div>
      </div>
    </ion-list>
    <ion-infinite-scroll ng-if="pagination.shouldLoadMore" on-infinite="loadMore();" distance="5%"></ion-infinite-scroll>
  </ion-content>
</ion-view>